### Importando as bibliotecas

In [1]:
import json
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
import joblib

### Carregando o dataset

In [2]:
df = pd.read_csv('dataset/adult.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         30725 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        30718 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    31978 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
x_cols = [c for c in df.columns if c != 'income']

In [6]:
X = df[x_cols]
y = df.income

### Separando os dados entre treino e test

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1234)

### Pré-processamento

In [8]:
train_mode = dict(X_train.mode().iloc[0])

In [9]:
X_train = X_train.fillna(train_mode)

#### Aplicando LabelEnconder nas colunas categóricas

In [10]:
enconders = {}
for column in ['workclass', 'education', 'marital-status',
                'occupation', 'relationship', 'race',
                'sex','native-country']:
    labeleconder = LabelEncoder()
    X_train[column] = labeleconder.fit_transform(X_train[column])
    enconders[column] = labeleconder

#### Aplicando o modelo RandomForestClassifier

In [11]:
rf = RandomForestClassifier(n_estimators=100)

In [12]:
rf_model = rf.fit(X_train, y_train)

#### Aplicando o modelo ExtraTreesClassifier

In [13]:
et = ExtraTreesClassifier(n_estimators=100)

In [14]:
et_model = et.fit(X_train, y_train)

### Salvando os dados do pré-processamento e os modelos

In [15]:
#joblib.dump(train_mode, 'joblibs/train_mode.joblib', compress=True)
#joblib.dump(enconders, 'joblibs/encoders.joblib', compress=True)
joblib.dump(rf_model, 'joblibs/random_forest.joblib', compress=True)
#joblib.dump(et_model, 'joblibs/extra_trees.joblib', compress=True)

['joblibs/random_forest.joblib']